.app {
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.input-form {
  width: 500px;
  word-wrap: break-word;
  height: 460px;
  overflow-y: auto;
}

.left {
  width: 120px;
  height: 500px;
  margin-right: 50px;
}

.right-container {
  width: 500px;
}

.right-container form {
  height: 40px;
  display: flex;
  flex-direction: column;
}